name: Eslint + Prettier
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  eslint-prettier-linting:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [24.x]

    steps:
      - uses: actions/checkout@v2
      - name: Staring Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm install -g pnpm && pnpm install
      - name: install package
        run: pnpm install
      - name: Eslint testing
        if: always()
        run: pnpm lint
      - name: Turbopack Build
        if: always()
        run: pnpm build
