name: Eslint + Prettier
on:
  push:
    branches: [master]

jobs:
  eslint-prettier-linting:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [24.x]

    steps:
      - uses: actions/checkout@v2
      - name: Staring Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: install package
        run: npm install
      - name: Eslint testing
        if: always()
        run: npm run lint
