name: All Tests
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  testing:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [24.x]

    steps:
      - uses: actions/checkout@v2
      - name: Staring Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm install -g pnpm && pnpm install
      - name: Install Playwright Browsers
        run: pnpm exec playwright install --with-deps
      - name: Run Jest tests
        run: pnpm test
      - name: Run Playwright tests
        run: pnpm test:pw
